body{
    margin: 0;
    padding: 0;
}
.titulo h1{
    color:#0054AA ;
    font-family:poppins-bold;
    text-align: center;
    
}
.formulario p, .letra{
    color:#004184 ;
    font-family:roboto-bold;
    font-size: 18px;
    padding-top: 0.5%;
}
.formulario{
    justify-content: center;
    justify-self: center;
    margin-left: 16%;
}
.espacios{
    border: none;
    background-color: #85CAF1;
    opacity: 0.35;
    border-radius:3px;
    margin-left: 2%;
    color: black;
    margin-right: 13%;
    height: 16px;
    
}
.nombre{
    width: 75%;
}
.correo{
    width: 67%;
}
.espacios option{
    background-color: white;
}
.seleccionar{
    display: flex;
    margin-left: 5%;
}
.seleccionar div{
    display: flex;
    padding-right:0;
    margin-right: 7%;
    color:#004184 ;
    font-family:roboto-bold;
    font-size: 18px;
}
.indicativo_celular{
    display: flex;
    width: 100%;
}
.indicativo_celular div{
    display:flex;
    width: 50%;
}
.indicativo_celular div p{
    margin:0;
    padding:0;
    width: 30%;
}
#indicativo{
    height: 20px;
}
#celular{
    height: 20px;
    margin-left: -30px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.mensaje{
    width: 80%;
    height: 60px;
}
.botones{
    position:absolute; 
    left:0px; 
    right:0px; 
    bottom:4%;
}
.boton_enviar{
    border: none;
    background-color: #0054AA;
    width: 100%;
    height: 50px;
    color: white;
    font-family:roboto-bold;
    font-size: 20px;
    z-index: -5;
}
.boton_redireccionar{
    border: none;
    background-color: #FFB932;
    width: 16%;
    height: 60px;
    color: #004184;
    font-family:roboto-bold;
    font-size: 16px;
    border-radius: 30px;
    padding-left:1.5%;
    padding-right: 1.5%;
    margin-bottom: -1%;
    z-index: 5;
    position:absolute;  
    right:2%;
    bottom: 70%; 
}
@media screen and (max-width:1275px){
    .formulario{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0;
    }
    .formulario p{
        padding-left: 16%;
    }
    .formulario .espaciomargen{
        padding-left: 16%;
    }
    .correo{
        width: 75%;
    }
    .indicativo_celular{
        display:block;
    }
    .indicativo_celular div{
        margin-top:5%; 
        width: 100%; 
    }
    .indicativo_celular div p{
        width: 20%;
    }
    #celular{
        width: 25%;
        margin-left: 0;
    }
    .seleccionar{
        display: block;
    }
    .seleccionar div{
        margin-top: 2%; 
    }
    .mensaje{
        width: 80%;
        height: 60px;
        margin-bottom: 8%;
    }
    .botones{
        position:relative; 
        margin: 0;
    }
    .boton_enviar{
        margin-bottom:3%;
    }
    .boton_redireccionar{
        border: none;
        background-color: #FFB932;
        width: 25%;
        height: 60px;
        color: #004184;
        font-family:roboto-bold;
        font-size: 15px;
        border-radius: 30px;
        padding-left:1.5%;
        padding-right: 1.5%;
        margin-bottom: -1%;
        z-index: 5;
        position:absolute;  
        right:2%;
        bottom: 70%; 
    }
}
/*@media screen and (max-width:1px){
    .formulario{
        display:flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10%;
    }
    
    .correo{
        width: 68%;
    }
    .indicativo_celular{
        display: flex;
        width: 100%;
        margin-top:1.5%;
    }
    .indicativo_celular div p{
        width: 30%;
    }
    #celular{
        height: 20px;
        margin: 0;
        margin-left:-5%;
        
    }
    .indicativo_celular div p{
        margin:0;
        padding:0;
        width: 30%;
    }
    .indicativo_celular div{
        margin:0;
        padding:0;
        width: 100%;
    }
}*/