html, body{
    margin: 0;
    padding: 0;
    background-color: #FBFAFA;
    width: 100%;
}
.contenedor_menu{
    width: 100%;
    height: 63px;
    background-color: #0054AA;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.2px solid #85CAF1;
}
.contenedor_menu #logo{
    width: 250px;
    height: auto;
    margin-left: 20px;
}
#boton_menu{
    display: none;
}
.contenedor_menu label{
    display: none;
    width: 43px;
    height: 43px;
    padding: 10px;
}
.contenedor_menu label:hover{
    cursor: pointer;
}
.menu_r{
    display: none;
}


.menu ul{
    margin: 0;
    list-style: none;
    padding:0;
    display: flex;
    justify-content: flex-end;
}

.menu li a{
    display: block;
    padding: 19px 35px 0px 35px;
    color: #FBFAFA;
    font-family: "roboto-medium";
    text-decoration: none;
    font-size: 17px;
}
.menu li a:hover{
    text-decoration: underline 2px#85CAF1;
}

#iniciar_sesion a{
    color: #FFB932;
    font-size: 25px;
    padding-right: 45px;
    padding-top: 14px;
}


@media (max-width:1140px){
    .menu{
        display: none;
    }
    .menu_r1{
        display: block;
        position: absolute;
        z-index: 5;
    }
    .menu_r ul{
        margin: 0;
        list-style: none;
        padding:0;
        display: flex;
        justify-content: flex-end;
    }
    
    .menu_r li a{
        display: block;
        padding: 15px 20px;
        color: #020202;
        font-family: sans-serif;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
    }
    .menu_r li a:hover{
        background-color:#76bfe9;
    }
    .contenedor_menu{
        display:flex;
        justify-content: flex-end;
    }
    
    .contenedor_menu label{
        display: block;
        margin-left: auto;
    }
    .menu_r{
        position: absolute;
        background-color:#85CAF1;
        width: 70%;
        margin-top: 63px;
        font-weight: 100;
    }
    .menu_r ul{
        flex-direction: column;
    }
    .menu_r li{
        border-top: 1.5px solid #76bfe9;
    }
    .menu_r li a{
        display: flex;
        justify-content: flex-end;
    }
}


/*colores*/
/*COLORES DEFINIDOS*/
.azul{
    color: #0054AA;
}
.naranja{
    color: #FFB932;
}
.blanco{
    color: #FBFAFA;
}
.azulClaro{
    color: #85CAF1;
}
.gris{
    color: #E5E5E5;
}
.piedePagina{ /*Footer*/
    display: flex;
    padding-top: 1%;
    padding-bottom:0;
    padding-left: 5%;
    padding-right: 10%;
    justify-content: space-between;
    background-color: rgb(41, 38, 38);
    color: rgb(226, 223, 223);
    font-family: roboto-medium;
    font-size: 13px;
    margin: 0;
}
.redes_sociales{
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
}

.columnas_piedePagina a h4{
    color: rgb(226, 223, 223);
    font-family: roboto-medium;
    font-size: 13px;
    text-decoration: none;
}
.derechos h4{
    margin: 0;
    padding: 1.5% 0;
    background-color: rgb(41, 38, 38);
    color: rgb(226, 223, 223);
    font-family: roboto-medium;
    font-size: 15px;
    text-align: center;
}
@font-face{
    font-family: "roboto-light-Italic";
    src: url("../fonts/roboto/Roboto-LightItalic.woff");
}
@font-face{
    font-family: "roboto-light";
    src: url("../fonts/roboto/roboto-Light.woff");
}
@font-face{
    font-family: "roboto-medium";
    src: url("../fonts/roboto/Roboto-Medium.woff");
}
@font-face{
    font-family: "roboto-regular";
    src: url("../fonts/roboto/roboto_regular.woff");
}
@font-face {
    font-family: "roboto-bold-italic";
    src: url("../fonts/roboto/Roboto-BoldItalic.woff");
}
@font-face {
    font-family: "roboto-bold";
    src: url("../fonts/roboto/Roboto-Bold.woff");
}
@font-face {
    font-family: "poppins";
    src: url("../fonts/poppins/poppins.woff");
}
@font-face {
    font-family: "poppins-bold";
    src: url("../fonts/poppins/Poppins-Bold.woff");
}

@media screen and (min-width:300px) and (max-width:500px){
    
}
@media screen and (min-width:760px) and (max-width:893px){
    .piedePagina{ /*Footer*/
        font-size: 10px;
    }
   
}
@media screen and (min-width:300px) and (max-width:759px){
    .piedePagina{ /*Footer*/
        text-align: center;
        font-size: 10px;
        flex-direction: column;
        padding: 0;
    }
    
}
