html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: "roboto-regular";
}
/*Contenedor general*/
.contenedorGeneral{
    justify-content: center;
    align-items: center;
}
.cabecera_olas {
    width: 100%;
    position: absolute;
    z-index: 0;
}
.cabecera_olas img{
    width: 100%;
}
.logo{
    margin: 20px;
    margin-right: 200px;
}
.logo img {
    width: 500px;
    height: 200px;
}
.decidelo {
    display: block;
    font-size: 75px;
    line-height: 10px;
}

.empieza {
    width: 250px;
    height: 70px;
    background-color: #85CAF1;
    border-radius: 200px;
    color: black;
}
.contenedorInicio{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 30px;
    color: whitesmoke;
}
/*personas*/
.personas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.personas img{
    width: 90%;
}
/*video*/
.contenedorVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin: 20%;
}
.frase{
    font-weight: bold;
    border: solid 3px black;
    text-align: right;
    font-size: 50px;
}
/*globo*/
.globo {
    display: flex;
    width: 70%;
    position: absolute;
    z-index: 0;
    justify-content: center;
}
.globo img{
    width: 70%;
}
.video{
    width: 200px;
    height: 200px;
    background-color: coral;
    margin-left: 200px;
}
/*puntos*/
.puntos{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.puntos img{
    width: 100%;
}
/*objetivo*/
/*.tituloNuestoObj{
    padding: 3%;
}
.iimaRepreObjetivo{
    opacity: 0;
    display: none;
    position: Absolute;
}
.NuestroObjetivo{
    margin: 5%;
    margin-top: 14%;
}
.textoNuestroObje{
    font-family: roboto-medium;
    font-size: 45px;
    margin: 0;
}
.nu1{
    margin-right: 15%;
}
.nu2{
    margin-left: 15%;
}
.tituloNuestoObj:hover{
    opacity: 0;
}
.tituloNuestoObj:hover ~ img{
    opacity: 1;
    transition: 3s;
    display: inline-flex;
    position: inherit;
}*/
/**/
.num{
    margin: 5%;
}
.numeros{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    color: #85CAF1;
    margin-top: 25%;
}
/*Contenedor opiniones */
.contenedorTarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    position: absolute;
    z-index: 3;

}
.tarjetas img{
    width: 100%;
    height: 100%;
    border-radius: 20px;    
}
.tarjetas{
    background-color: whitesmoke;
    align-items: center;
    margin: 5%;
    box-shadow: 15px 15px 0px 3px #85CAF1;
    padding: 3%;
}
.opinion{
    font-size: 25px;
} 
.abajo{
    margin-top: 40%;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.olaFinal {
    width: 100%;
    position: absolute;
    z-index: 0;
}
.olaFinal img{
    width: 100%;
}

