html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
}
/*Contenedor general*/
.contenedorGeneral{
    justify-content: center;
    align-items: center;
}
.cabecera_olas {
    width: 100%;
    position: absolute;
    z-index: 0;
}
.cabecera_olas img{
    width: 100%;
}
.logo{
    margin: 20px;
    border: solid 3px black;
}
.logo img {
    width: 600px;
    height: 250px;
}
.decidelo {
    display: block;
    font-size: 80px;
}
.empieza {
    width: 300px;
    height: 100px;
    background-color: #85CAF1;
    border-radius: 200px;
}
.contenedorInicio{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    border: solid 3px black;
    padding: 30px;
}
/*personas*/
.personas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.personas img{
    width: 90%;
}
/*video*/
.contenedorVideo {
    border: solid 3px black;
    font-size: 50px;
    position: absolute;
    z-index: 2;
}
.frase{
    font-weight: bold;
    border: solid 3px black;
    text-align: right;
    font-size: 50px;
}
/*globo*/
.globo {
    display: flex;
    width: 75%;
    position: relative;
    z-index: 0;
    justify-content: center;
}
.globo img{
    width: 75%;
}

/*puntos*/
.puntos img{
    width: 70%;
}
/**/
.descripcion {
    font-size: 50px;
    justify-content: center;
    text-align: center;
    line-height: 5px;
}

.objetivo {
    font-size: 80px;
    justify-content: center;
    text-align: center;
    line-height: 5px;
    font-weight: bold;
    color: #85CAF1;
    position: absolute;
    z-index: 2;
}
.a {
    color: darkblue;
}
/**/
.numeros{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    color: #85CAF1;

}
/*Contenedor opiniones */
.contenedorTarjetas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid 3px black;
    position: absolute;
    z-index: 2;
}
.tarjetas img{
    width: 400px;
    height: 300px;
    border-radius: 20px;    
}
.tarjetas{
    background-color: whitesmoke;
    border: solid 2px black;
    align-items: center;
    margin: 50px;
    box-shadow: 15px 15px 0px 3px #85CAF1;
    padding: 50px;
}
.opinion{
    width: 400px;
} 

.olaFinal {
    width: 100%;
    position: relative;
    z-index: 0;
}
.olaFinal img{
    width: 100%;
}



