/*Cambios generales*/
html, body {
    margin: 0;
    padding: 0;
    display: flex;
    width: 100%;
    flex-direction: column;
    font-family: "roboto-regular";
}
/*Contenedor general*/
.contenedorGeneral{
    justify-content: center;
    align-items: center;
}
/*---------------------------Contenedor de la cabecera--------------------------*/
.contenedorInicio{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    padding: 30px;
    color: whitesmoke;
}
.cabecera_olas {
    width: 100%;
    position: absolute;
    z-index: 0;
}
.cabecera_olas img{
    width: 100%;
}
/*logo*/
.logo{
    margin: 20px;
    margin-right: 200px;
}
.logo img {
    width: 500px;
    height: 200px;
}
.decidelo {
    display: block;
    font-size: 75px;
    line-height: 10px;
}

.empieza {
    width: 250px;
    height: 70px;
    background-color: #85CAF1;
    border-radius: 200px;
<<<<<<< HEAD
    color: black;
=======
>>>>>>> origin/Katerin
}

/*personas*/
.personas {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.personas img{
    width: 90%;
}
/*---------------------------Contenedor de la globo--------------------------*/
/*video*/
.contenedorVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
<<<<<<< HEAD
    font-weight: bold;
    color: #85CAF1;
    line-height: 20px;
    margin-top: 200px;
=======
    margin: 20%;
>>>>>>> origin/Katerin
}
.frase{
    font-weight: bold;
    text-align: right;
    font-size: 40px;
}
/*globo*/
.globo {
    display: flex;
    width: 70%;
    position: absolute;
    z-index: 0;
    justify-content: center;
}
.globo img{
    width: 70%;
}
.video{
    width: 600px;
    height: 450px;
    background-color: coral;
    margin-left: 20%;
    border-radius: 5%;
}
/*------------------------objetivo-----------------------*/
/*.tituloNuestoObj{
    padding: 3%;
}
.iimaRepreObjetivo{
    opacity: 0;
    display: none;
    position: Absolute;
}
.NuestroObjetivo{
    margin: 5%;
    margin-top: 14%;
}
.textoNuestroObje{
    font-family: roboto-medium;
    font-size: 45px;
    margin: 0;
}
.nu1{
    margin-right: 15%;
}
.nu2{
    margin-left: 15%;
}
.tituloNuestoObj:hover{
    opacity: 0;
}
.tituloNuestoObj:hover ~ img{
    opacity: 1;
    transition: 3s;
    display: inline-flex;
    position: inherit;
}*/
/*-----------------------Contenedor final----------------*/
/*puntos*/
.puntos{
    position: absolute;
    z-index: 1;
    width: 100%;
}
.puntos img{
    width: 100%;
}
/*estadisticas*/
.num{
    margin: 5%;
}
.numeros{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 3;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    align-items: center;
    color: #85CAF1;
    margin-top: 25%;
}
/*Contenedor opiniones */
.contenedorTarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 3px black;
    position: absolute;
    z-index: 3;

}
/*Opiniones*/
.tarjetas img{
<<<<<<< HEAD
    width: 300px;
    height: 250px;
=======
    width: 100%;
    height: 100%;
>>>>>>> origin/Katerin
    border-radius: 20px;    
}
.tarjetas{
    background-color: whitesmoke;
    align-items: center;
    margin: 5%;
    box-shadow: 15px 15px 0px 3px #85CAF1;
    padding: 3%;
}
.opinion{
<<<<<<< HEAD
    width: 300px;
=======
    font-size: 25px;
>>>>>>> origin/Katerin
} 
.abajo{
    margin-top: 40%;
    position: relative;
    z-index: 1;
    justify-content: center;
    align-items: center;
}
.olaFinal {
    width: 100%;
    position: absolute;
    z-index: 0;
}
.olaFinal img{
    width: 100%;
}
<<<<<<< HEAD
<<<<<<< HEAD



=======
/*RESPONSIVE*/
@media screen and (min-width:750px) and (max-width:800px){
=======
/*---------------------------RESPONSIVE-------------------*/
/*---------750px a 950px-------------*/
@media screen and (min-width:750px) and (max-width:950px){
>>>>>>> origin/Katerin
    /*Cabecera*/
    .contenedorInicio{
        padding: 20px;
    }
    .logo img{
        width: 200px;
        height: 90px;
        margin-right: 10px;
    }
    .decidelo{
        font-size: 20px;
    }
    .empieza{
        width: 150px;
        height: 40px;
    }
    .frase {
        font-size: 20px;
    }
    /*Contenedor estudiantes*/
    .abajo {
        margin-top: 37%;
    }
    .numeros {
        font-size: 25px;
    }
    .opinion {
        font-size: 11px;
    }
<<<<<<< HEAD
>>>>>>> origin/Katerin
=======
    .video{
        width: 250px;
        height: 175px;
        margin-left: 25%;
    }
}
/*---------950px a 1300px-------------*/
@media screen and (min-width:951px) and (max-width:1300px){
        /*Cabecera*/
        .contenedorInicio{
            padding: 40px;
        }
        .logo img{
            width: 300px;
            height: 140px;
            margin-right: 10px;
        }
        .decidelo{
            font-size: 30px;
        }
        .empieza{
            width: 200px;
            height: 60px;
        }
        .frase {
            font-size: 30px;
        }
        /*Tamaño video*/
        .video{
            width: 350px;
            height: 250px;
            margin-left: 25%;
        }
        /*Contenedor estudiantes*/
        .abajo {
            margin-top: 37%;
        }
        .numeros {
            font-size: 30px;
        }
        .opinion {
            font-size: 21px;
        }
>>>>>>> origin/Katerin

}
/*---------1301px a 1700px-------------*/
@media screen and (min-width:1301px) and (max-width:1700px){
    /*Cabecera*/
    .contenedorInicio{
        padding: 40px;
    }
    .logo img{
        width: 400px;
        height: 180px;
        margin-right: 10px;
    }
    .decidelo{
        font-size: 40px;
    }
    .empieza{
        width: 300px;
        height: 80px;
    }
    .frase {
        font-size: 40px;
    }
    /*Tamaño video*/
    .video{
        width: 450px;
        height: 350px;
        margin-left: 25%;
    }
    /*Contenedor estudiantes*/
    .abajo {
        margin-top: 37%;
    }
    .numeros {
        font-size: 40px;
    }
    .opinion {
        font-size: 28px;
    }

}