.materialCompleto{
    display: flex;
    background-color: #FBFAFA;
    font-family: roboto-medium;
}
/* Menu lateral completo */
.menuLateral{
    background-color: #0054AA;
    color: #FBFAFA;
    position: fixed;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-content: space-between;
}
/* titulo del menu lateral */
.TituloNivel{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    margin-left: 10%;
    margin-right: 8%;
    font-family: roboto-bold-italic;
}
/* opciones del menu lateral */
.botonMenu{
    display: flex;
    width: auto;
    position: relative;
    text-align: center;
    align-items: center;
    height: 64px;
    margin: 10%;
    margin-left: 15%;
    margin-right: 10%;
    border-radius:25px;
    cursor: pointer;
    color: #0054AA;
    font-size: 21px;
    font-family: roboto-medium;
    background-color: #FFB932;
    border: 2px solid #f5a60a;
}
.botonMenu:hover{
    background-color: #f8a500;
}
.botonMenu:active{
    background-color: #fdd074;
}
/* imagen de los botones laterales */
.imagenLadoBoton{
    width: 30%;
    height: auto;
    margin-left: -12%;
    box-shadow: 5px 10px 27px -7px #30230b;
    border-radius: 50%;
}
/* Nombre de los botones laterales */
.nombreBotonMenu{
    display: flex;
    width: inherit;
    margin-left: 27%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}   /*Introduccion*/
.nombreBotonMenu1{
    display: flex;
    width: inherit;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/*Pagina principal estilos*/
.CaraPrincipalMaterial{
    background-color: #FBFAFA;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin-left: 20%;
}
.paginaIntroduc{/*Primera pagina estilos*/
    display: flex;
    background-color: #FBFAFA;
    justify-content: center;
    align-items: center;
    margin-left: 20%;
    text-align: justify;
}
.grupoIntro{/*Contenedor padre primera pagina*/
    width: 70%;
}
.tituloPagIntro{ /*Titulo de la primera pagina*/
    text-align: justify;
    border-radius: 20px;
    width: 70%;
    margin-left: 10%;
    color: #677481;
    font-size: 28px;
    font-family: roboto-medium;
}
.parrafoInicio{ /*Texto de la primera pagina*/
    font-family: roboto-regular;
    margin-top: 10%;
    font-size: 25px;
    width: 70%;
    margin-left: 10%;
}
.imagenIntro{/*Imagen de la primera pagina*/
    width: 35%;
    height: 100%;
    box-shadow: 5px 5px 15px 5px #000000;
}
/*Pagina de los PDF*/
.TituloPdfs{
    color: #0054AA;
    font-family: roboto-medium;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Contenedor de los PDF*/
.guardarPDFs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Estilos de cada PDF*/
.opcionesBotonPDF{
    width: 70%;
    padding: 0.5%;
    background-color: #56B6EC;
    border: 2px solid #56B6EC;
    color: #000;
    margin: 3%;
    border-radius: 30px;
    font-size: 25px;
    cursor: pointer;
    font-family: roboto-bold;
}
/*Dom Pagina Inicial*/
.MaterialdeApoyoInicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/*Dom de las Pagina*/
.MaterialdeApoyoNivelIntro, .MaterialdeApoyoNivelA1, .MaterialdeApoyoNivelA2, .MaterialdeApoyoNivelB1, .MaterialdeApoyoNivelB2{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/*RESPONSIVE*/
@media screen and (min-width:300px) and (max-width:800px){
    .paginaIntroduc{/*Primera pagina estilos*/
        display: flex;
        margin: 0;
    }
    .grupoIntro{/*grupo del texto de la primera pagina*/
        width: 70%;
    }
    .tituloPagIntro{/*Titulo de la primera pagina*/
        text-align: justify;
        border-radius: 20px;
        width: 70%;
        margin-left: 10%;
        font-size: 20px;
    }
    .parrafoInicio{/*Texto de la ultima pagina*/
        font-size: 18px;
        width: 70%;
        margin-left: 10%;
    }
    .imagenIntro{ /*Acomodando la primera imagen*/
        width: 34.6%;
        height: 100%;
    }
    .menuLateral{/*Cambio de direcion del menu*/
        flex-direction: column;
        position: inherit;
        width: 100%;
        height: 20%;
    }
    .botones{/*Todos los botones, padre ultra padre*/
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-right: 0%;
    }
    .botonMenu{/*Todos los botones, padre*/
        width: 45%;
        height: 10%;
        margin: 1%;
        border-radius:5px;
    }
    .nombreBotonMenu{ /*Botones, hijos*/
        display: flex;
        width: inherit;
        justify-content: center;
        align-items: center;
        font-size: 15px;
    }
    .nombreBotonMenu1{ /*Botones, hijos*/
        display: flex;
        width: inherit;
        margin-left: 30%;
        font-size: 15px;
    }
    .imagenLadoBoton{ /*Imagen de cada boton*/
        display: none;
    }
    .TituloNivel{ /*Titulo de los niveles*/
        font-size: 20px;
    }
    .CaraPrincipalMaterial{
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        margin: 2%;
    }
    .TituloPdfs{ /*Titulo de los pdf*/
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
    }
    .opcionesBotonPDF{/*opciones pdf*/
        width: 70%;
        padding: 1%;
        color: #000;
        margin: 2%;
        border-radius: 30px;
        font-size: 15px;
        cursor: pointer;
    }
}
@media screen and (min-width:801px) and (max-width:1010px){ /*DE 801PX A 1010PX*/
    .grupoIntro{ /*grupo del texto de la primera pagina*/
        width: 70%;
    }
    .tituloPagIntro{ /*Titulo de la primera pagina*/
        font-size: 25px;
    }
    .parrafoInicio{ /*Texto de la ultima pagina*/
        font-size: 20px;
    }
    .botonMenu{ /*Todos los botones, padre*/
        width: auto;
        text-align: center;
        height: auto;
        margin: 10%;
        margin-left: 12%;
    }
    .nombreBotonMenu{ /*Botones, hijos*/
        display: flex;
        text-align: center;
        width: inherit;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }
    .nombreBotonMenu1{ /*Botones, hijos*/
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        width: inherit;
        font-size: 16px;
    }
    .TituloNivel{ /*Titulo de los niveles*/
        text-align: center;
        font-size: 20px;
        margin-left: 10%;
        margin-right: 8%;
    }
    .TituloPdfs{ /*Titulo de los pdf*/
        margin-top: 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .opcionesBotonPDF{ /*opciones pdf*/
        width: 70%;
        padding: 1%;
        color: #000;
        margin: 3%;
        border-radius: 30px;
        font-size: 18px;
        cursor: pointer;
    }
}