*{

}
@font-face {
    font-family: poppins;
    src: url(/src/utils/fonts/poppins/poppins.woff);
}

/*-----------------Slider------------*/ 
.contenedor_carousel{
    font-family: poppins;
    margin-top: 10%;
    margin: auto;
    width: 60%;
    height: 10%;
    position: relative;
    z-index: 1;
}


.carousel{
    margin-top: 40px;
}

.carousel_texto{
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F6F6F6;
    font-size: 41px;
    font-weight: bold;   
}

.fondo_texto_carousel{
    background-color: rgb(0, 0, 0, .5);
    position: absolute;
    width: 100%;
    height: 29%;
    top: 70%;
}



.carousel_texto:hover{
    cursor: pointer;
    color: rgb(211, 227, 240);
}


.carousel_texto_empresarial{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 45px;
    font-weight: bold;
}

.carousel_texto_empresarial:hover{
    cursor: pointer;
    color: rgb(211, 227, 240);
}



.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #0054AA;
	opacity: 1;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	color: #FFB932;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
}

.carousel__elemento {
	text-align: center;
    position: relative;
    display: inline-block;
    margin-right: 2px;
    margin-left: 2px;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #0054AA;
	opacity: .5;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .3;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
    background: #FFB932;
}







/*---------------modal---------------*/
.container_modal{
    font-family: poppins;
    height: 478px;
    width: 780px;
    display: flex;
    border: 1px solid #0054AA;
    background-color: #F4F4F4;   
    box-shadow: 1px 0px 5px -1px;
    position: relative;
    z-index: 1;
}

/*--------------modal 1------------*/
.container_niños {
    z-index: 6;
    display: none;   
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.niños_ados{
    width: 262px;
    height: 74px;
    top:0;
    background-color: #0054AA;
    color: cornsilk;
    font-size: 36px;
    padding: 11px;
    justify-content: center;
    text-align: center;
}

.titulo_adu{
    justify-content: center;
    font-size: 42px;
    text-align: center;
}

.container_derecho{
    
}

.container_izquierdo{

}

.texto_modal {
    padding-left:40px;
    padding-right: 25px;

}

.texto_modal_em {
    padding-left:40px;
    padding-right: 25px;

}

.imagen_niñosmodal{
    width: 100%;
}

.imagen_modal1{
    
}

.textoModalInformacion{
    font-size: 18px;
    text-align: justify;
    margin-top: 14%;

}

.boton_quieresabermas{
    font-size: 130%;
    color: #0054AA;
    background-color:#FFB932 ;
    border-radius:60px;
    padding: 0% 1%;
    margin-left:55%;
    width: 200px;
    height: 50px;
    transform: translate(-0%, -140%); 
    margin-top: 0%;
    position: relative;
}

.abajo_beneficios_niños {
    transform: translate(-0%, -42%); 

}


/*---------------modal2---------------*/

.container_adult {
    z-index: 6;
    font-family: Roboto-Light;
    display: none;   
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imagen_adultos{
    width: 100%;
    
}

.texto_modal_adult {
    padding-left: 25px;
    padding-right: 25px;

}

.textoModalInformacionAdult{
    font-size: 19px;
    text-align: justify;
    margin-top: 20%;

}


.textoModalInformacionAdult{

}

.abajo_beneficios_adultos {
    transform: translate(-0%, -27.5%); 
}

/*---------------modal3---------------*/

.container_insti{
    z-index: 6;
    font-family: Roboto-Light;
    display: none;   
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imagen_instituciones{
    width: 100%;
    height: 53vh;
}

.texto_modal_ins {
    padding-left: 25px;
    padding-right: 25px;

}

.textoModalInformacion_ins{
    font-size: 17px;
    text-align: justify;
    margin-top: 12%;

}

.abajo_beneficios_instituciones {
    transform: translate(-0%, -40%); 
}

/*---------------modal4---------------*/

.container_empresa{
    z-index: 6;
    font-family: Roboto-Light;
    display: none;   
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.imagen_empresarial{
    width: 100%;
    height: 53vh;
}

.texto_modal_em {
    padding-left: 24px;
    padding-right: 25px;

}

.textoModalInformacion_em{
    font-size: 16.6px;
    text-align: justify;
    margin-top: 13%;

}

.abajo_beneficios_empresarial {
    transform: translate(-0%, -43.5%); 

}


/* Close Button */
.close {
    color: #cde6e1;
    background-color: #0054AA;
    font-weight: bold;
    font-size: x-large;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    z-index: 5;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 20px;
    right: 20px;
    position: absolute;
}

.close2{
    color: #cde6e1;
    background-color: #0054AA;
    font-weight: bold;
    font-size: x-large;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    z-index: 5;
    justify-content: center;
    align-items: center;
    display: flex;
    top: 20px;
    right: 20px;
    position: absolute;
}

.close2:hover,
.close2:focus {
    color: #FFB932;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #FFB932;
    text-decoration: none;
    cursor: pointer;
}

/*container centro*/

.container_centro{
    display: none;
}


/*media*/ 

/*slider*/
@media screen and (max-width: 1113px) and ( min-width: 750px) {
    
    .carousel_texto{
        font-size: 23px;
    }

    .carousel_texto_empresarial{
        font-size: 23px;
    }
    
} 

@media screen and (max-width: 750px){
    
    .carousel_texto{
        font-size: 18px;
    }

    .carousel_texto_empresarial{
        font-size: 18px;
}
    
} 

@media screen and (max-width: 600px){
    
    .carousel_texto{
        font-size: 14px;
    }

    .carousel_texto_empresarial{
        font-size: 14px;
    }
    
} 

/* ------ modals responsive ------ */

@media screen and (max-width:900px){

    /*fondo*/
    .imagen_modal_centro1{
        background-image: url("../images/metodologia/Niños.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(5px);
        width: 100%;
        height: 100%;
        position: absolute; 
        opacity: .8;
    }
    .imagen_modal_centro2{
        background-image: url("../images/metodologia/Adultos.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(5px);
        width: 100%;
        height: 100%;
        position: absolute;
        opacity: .8; 
    }
    .imagen_modal_centro3{
        background-image: url("../images/metodologia/Instituciones.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(5px);
        width: 100%;
        height: 100%;
        position: absolute; 
        opacity: .7;
    }
    .imagen_modal_centro4{
        background-image: url("../images/metodologia/empresarial.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        filter: blur(5px);
        width: 100%;
        height: 100%;
        position: absolute; 
        opacity: .8; 
    }
    /*--*/

    /*responsive general modals metodologia*/ 
    .container_centro{
        display: flex;
        flex-direction: column;
    }
    .titulo_modal_centro{
        position: relative;
        color: #FFB932;
        font-size: 240%;
        font-family:roboto-medium;
        text-align: center;
        margin-top: 6%;
        font-weight: bold;
    }
    
    .container_izquierdo{
        display: none;
    }

    .container_derecho{
        display: none;
    }

    .boton_quieresabermas{
        margin-top:auto;
        margin-left: auto;
        margin-bottom: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        width: 200px;
        font-size: 120%;
        font-weight: bold;  
        transform: none; 

    }

    .container_centro{
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .close{
        top: 3%;
        right: 2.5%;
    }
    .container_modal{
        width: 100%;
    } 

    /*modal1*/
    .texto_modal_centro{
        position: relative;
        color: #000000;
        font-size: 115%;
        font-family:roboto-medium;
        text-align: center;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: justify;
        left: auto;
        top: auto;
    }
    /*modal2*/
    .texto_modal_centro2{
        position: relative;
        color: #000000;
        font-size: 115%;
        font-family:roboto-medium;
        text-align: center;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: justify;
        left: auto;
        top: auto;
    }

    /*modal3*/
    .texto_modal_centro3{
        position: relative;
        color: #000000;
        font-size: 100%;
        font-family:roboto-medium;
        text-align: center;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: justify;
        left: auto;
        top: auto;
    }

    .titulo_modal_centro3{
        position: relative;
        color: #FFB932;
        font-size: 250%;
        font-family:roboto-medium;
        text-align: center;
        margin-top: 1%;
        font-weight: bold;
    }
    
    /*modal4*/
    .texto_modal_centro4{
        position: relative;
        color: #000000;
        font-size: 105%;
        font-family:roboto-medium;
        text-align: center;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        font-weight: bold;
        letter-spacing: 1px;
        text-align: justify;
        left: auto;
        top: auto;
    }

}


@media screen and (max-width:800px){


    .texto_modal_centro{
/*modal1*/
        color: #000000;
        font-size: 115%;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }
/*modal2*/
    .texto_modal_centro2{
        color: #000000;
        font-size: 115%;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }
/*modal3*/
    .texto_modal_centro3{
        color: #000000;
        font-size: 93%;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .titulo_modal_centro3{
        font-size: 220%;
    }
/*modal4*/
.texto_modal_centro4{
    color: #000000;
    font-size: 96%;
    margin-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
}

    /*general*/

    .titulo_modal_centro{
        font-size: 180%;
    }

}

@media screen and (max-width:700px){
/*modal1*/
    .texto_modal_centro{
        color: #000000;
        font-size: 110%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }
/*modal2*/
    .texto_modal_centro2{
        color: #000000;
        font-size: 110%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }

/*modal3*/

.texto_modal_centro3{
    color: #000000;
    font-size: 90%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

.titulo_modal_centro3{
    font-size: 220%;
}

/*modal4*/
.texto_modal_centro4{
    color: #000000;
    font-size: 90%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

/*general*/
    .titulo_modal_centro{
        font-size: 160%;
    }
}

@media screen and (max-width:630px){
/*modal1*/
    .texto_modal_centro{
        color: #000000;
        font-size: 105%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .imagen_modal_centro1{
        opacity: .6;
    }
/*modal2*/    
    .texto_modal_centro2{
        color: #000000;
        font-size: 105%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .imagen_modal_centro2{
        opacity: .6;
    }

/*modal3*/

.texto_modal_centro3{
    color: #000000;
    font-size: 85%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
.imagen_modal_centro3{
    opacity: .6;
}

.titulo_modal_centro3{
    font-size: 210%;
}

/*modal4*/
.texto_modal_centro4{
    color: #000000;
    font-size: 87%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

/*general*/
    .titulo_modal_centro{
        font-size: 150%;
        margin-top: 5%;
    }

    .boton_quieresabermas{
        width: 150px;
        height: 50px;
    }

/*close*/
    .close{
        top: 2.5%;
        right: 2.5%;
        background: none;
        color: #0054AA;
    }
}

@media screen and (max-width:590px){


.container_modal{
    height: auto;
}
/*modal1*/
    .texto_modal_centro{
        color: #000000;
        font-size: 85%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }
/*modal2*/    
    .texto_modal_centro2{
        color: #000000;
        font-size: 103%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }

/*modal3*/
.texto_modal_centro3{
    color: #000000;
    font-size: 79%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

/*modal4*/
.texto_modal_centro4{
    color: #000000;
    font-size: 79%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
}

/*general*/

    .titulo_modal_centro{
        font-size: 120%;
        margin-top: 2%;
    }

    .boton_quieresabermas{
        font-size: 80%;
        width: 100px;
        height: 30px;
        padding: 2px;
        margin-top: 8px;
    }

/*close*/
    .close{
        top: 1%;
        right: 1%;
        background: none;
        color: #0054AA;
    }

    
    

}

@media screen and (max-width:485px){

/*modal1*/
    .texto_modal_centro{
        color: #000000;
        font-size: 90%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }

/*modal2*/
    .texto_modal_centro2{
        color: #000000;
        font-size: 93%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

/*modal3*/
.texto_modal_centro3{
    color: #000000;
    font-size: 78%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.titulo_modal_centro3{
    font-size: 160%;
}

/*modal4*/
.texto_modal_centro4{
    color: #000000;
    font-size: 78%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
/*general*/
    .titulo_modal_centro{
        font-size: 130%;
        margin-top: 5%;
    }

    .boton_quieresabermas{
        font-size: 98%;
    }
    
}


@media screen and (max-width:400px){

    /*modal1*/
    .texto_modal_centro{
        color: #000000;
        font-size: 70%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
    }
/*modal2*/    
    .texto_modal_centro2{
        color: #000000;
        font-size: 90%;
        margin-top: 3%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

/*modal3*/
.texto_modal_centro3{
    color: #000000;
    font-size: 73%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
/*modal4*/
.texto_modal_centro4{
    color: #000000;
    font-size: 73%;
    margin-top: 3%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

/*general*/
    .titulo_modal_centro{
        font-size: 153%;
        margin-top: 5%;
    }

    .boton_quieresabermas{
        width: 100px;
        height: 30px;
        font-size: 75%;
        padding: 1px;
    }
    

}

@media screen and (max-width:300px){
/*modal1*/
    .texto_modal_centro{
        color: #000000;
        font-size: 20%;
        margin-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
/*modal2*/
    .texto_modal_centro2{
        color: #000000;
        font-size: 78%;
        margin-top: 1%;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }

/*modal3*/
.texto_modal_centro3{
    color: #000000;
    font-size: 72%;
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
/*modal4*/
.texto_modal_centro4{
    color: #000000;
    font-size: 72%;
    margin-top: 1%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}
/*general*/
    .titulo_modal_centro{
        font-size: 153%;
        margin-top: 3%;
    }

    .boton_quieresabermas{
        width: 120px;
        height: 24px;
        font-size: 70%;
    }
    

}
