.cabecera_beneficios{
width:100%;
}

.razones{
    display: flex;
    width: 100%;
    height: auto;
    background-color:#FFFDFD;
    justify-content: space-between;
    align-items: center;
    padding-top: 3%;
    padding-bottom: 3%;
}


.imagenes_porque_clerni{
    display: flex;
    width: 30%;
}
.imagenes_porque_clerni img{
    border-radius: 50%;

}