.materialCompleto{
    display: flex;
    background-color: #FBFAFA;
    font-family: roboto-medium;
}
/* Menu lateral completo */
.menuLateral{
    background-color: #0054AA;
    color: #FBFAFA;
    position: fixed;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    justify-content: space-between;
}
/* titulo del menu lateral */
.TituloNivel{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: roboto-bold-italic;
}
/* opciones del menu lateral */
.botonMenu{
    display: flex;
    width: auto;
    position: relative;
    text-align: center;
    align-items: center;
    height: 64px;
    margin: 10%;
    margin-left: 15%;
    margin-right: 10%;
    border-radius:25px;
    cursor: pointer;
    color: #0054AA;
    font-size: 21px;
    font-family: roboto-medium;
    background-color: #FFB932;
    border: 2px solid #f5a60a;
}
.botonMenu:hover{
    background-color: #f8a500;
}
.botonMenu:active{
    background-color: #fdd074;
}
/* imagen de los botones laterales */
.imagenLadoBoton{
    width: 30%;
    height: auto;
    margin-left: -12%;
}
/* Nombre de los botones laterales */
.nombreBotonMenu{
    display: flex;
    width: inherit;
    margin-left: 27%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}   /*Introduccion*/
.nombreBotonMenu1{
    display: flex;
    width: inherit;
    margin-left: 10%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
/*Pagina principal estilos*/
.CaraPrincipalMaterial{
    background-color: #FBFAFA;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 100%;
    margin-left: 20%;
}
/*Pagina de los PDF*/
.TituloPdfs{
    color: #0054AA;
    font-family: roboto-medium;
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*Contenedor de los PDF*/
.guardarPDFs{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/*Estilos de cada PDF*/
.opcionesBotonPDF{
    width: 70%;
    padding: 0.5%;
    background-color: #56B6EC;
    border: 2px solid #56B6EC;
    color: #000;
    margin: 3%;
    border-radius: 30px;
    font-size: 25px;
    cursor: pointer;
    font-family: roboto-bold;
}
/*Dom Pagina Inicial*/
.MaterialdeApoyoInicio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
/*Dom de las Paginaa*/
.MaterialdeApoyoNivelIntro, .MaterialdeApoyoNivelA1, .MaterialdeApoyoNivelA2, .MaterialdeApoyoNivelB1, .MaterialdeApoyoNivelB2{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}